<div class='container'>
  <div class='row'>
    <% @mythologies.each do |mythology| %>
    <div class='mythology-block'>
      <h3 class='myth-index-head'>Mythology: <span class='double_italic'><%= link_to mythology.name, mythology_path(mythology) %></span></h3>
      <a class="nav-item btn-sm btn-dark float-right right-margin active" href="/deities?mythology=<%=mythology.name%>"  id='deities-particular-button' role='button'><%=mythology.name %> Deities</a>
      <p class='margin-the-left the-italic'><%= mythology.origin_story %></p>
    </div>
    <div class='row-center eighty-percent'>
      <%= image_tag mythology.image, class: 'eighty-percent' %>
      <br />
    </div>
    <% end %>
  </div>
</div>