<div class='container'>
  <div class='row'>
    <div class='myth'>
      <h3 id='myth-show-head'>Mythology: <span class='double_italic'><%= @mythology.name %></span></h3>
      <a class="nav-item btn-sm btn-dark float-right right-margin active" href="/deities?mythology=<%= @mythology.name%>"  id='deities-particular-button' role='button'><%= @mythology.name %> Deities</a>
      <p class='margin-the-left the-italic'><%= @mythology.origin_story %></p>
    </div>
    <div class='row-center eighty-percent'>
      <%= image_tag @mythology.image, class: 'eighty-percent' %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='card-body'>
    <table class ="table">
      <thead>
        <tr>
          <th></th>
          <th>Book</th>
          <th>Authors</th>
          <th>Publisher</th>
        </tr>
      </thead>
      <tbody>
        <% unless @mythology.find_books_with_subject.nil? %>
          <% @mythology.find_books_with_subject.each do |book| %>
            <% if book.image %>
              <td class='book-image'><%= image_tag book.image %></td>
            <% else %>
              <td></td>
            <% end %>
            <td class='book-title'><%= link_to book.title, book.store_link %></td>
            <% if book.authors %>
              <td class='book-author'><% book.authors.each do |author| %>
                 <%= author %> <br />
               <% end %> </td>
            <% else %>
                <td>This Mythology has no Books associated with its name</td>
            <% end %>
            <% if book.publisher %>
            <td class='book-publisher'><%= book.publisher %></td>
            <% else %>
              <td></td>
            <% end %>
            </tr>
            <% end %>
          <% else %>
          <p>This Deity has no books associated with it's name</p>
          <% end %>
      </tbody>
    </table>
  </div>
</div>