<div class='text-center'>  
  <%= link_to image_tag("Deities.jpg", class: 'menu-image'), deities_path %>
  <%= link_to image_tag("Mythologies.jpg", class: 'menu-image'), mythologies_path %>
  <%= link_to image_tag("Myths.jpg", class: 'menu-image'), events_path %>
  <% if @user %>
      <%= link_to image_tag("Login.png", class: 'menu-image the-right'), logout_path, method: 'delete', :controller=> "sessions", :action=> "destroy" %>
  <% else %>
      <%= link_to image_tag("Login.png", class: 'menu-image the-right'), login_path %>
  <% end %>
  <%= link_to image_tag("API-Documentation.jpg", class: 'menu-image the-right'), api_dashboard_path %>
</div>