<div class='container'>
  
  <div class ='row justify-content-center'>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='mythologies' href='/mythologies'>  
            <%= image_tag("/assets/menu_options/Mythologies.jpeg", class: 'home-dashboard-image') %>
          </a>
          <br />
            <%= link_to "Mythologies", mythologies_path %>
        </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='deities' href='/deities'>  
            <%= image_tag("/assets/menu_options/Deities.jpeg", class: 'home-dashboard-image') %>
          </a>
          <br />
            <%= link_to "Deities", deities_path %>
        </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='events' href='/events'>  
            <%= image_tag("/assets/menu_options/Myths.jpeg", class: 'home-dashboard-image') %>
          </a>
          <br />
          <%= link_to "Myths", events_path %>
        </div>
      </div>
    </div>
      
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='domains' href='/domains'>  
            <%= image_tag("/assets/menu_options/Domains.jpg", class: 'home-dashboard-image') %>
          </a>
          <br />
          <%= link_to "Domains",domains_path %>
        </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='api-documentation' href='/api/dashboard'>  
            <%= image_tag("/assets/menu_options/API-Documentation.jpg", class: 'home-dashboard-image') %>
          </a>
          <br />
          <%= link_to "API Documentation", api_dashboard_path %>
        </div>
      </div>
    </div>
    
  </div>
  
</div>

