<div class='container'>
  
  <div class ='row justify-content-center'>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='mythologies' href='/mythologies'>  
            <img class='home-dashboard-image' src="<%= asset_path('menu_options/Mythologies')%>"/>
          </a>
          <br />
            <%= link_to "Mythologies", mythologies_path %>
        </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='deities' href='/deities'>  
            <img class='home-dashboard-image' src="<%= asset_path('menu_options/Deities')%>"/>
          </a>
          <br />
            <%= link_to "Deities", deities_path %>
        </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='events' href='/events'>  
            <img class='home-dashboard-image' src="<%= asset_path('menu_options/Myths')%>"/>
          </a>
          <br />
          <%= link_to "Myths", events_path %>
        </div>
      </div>
    </div>
      
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='domains' href='/domains'>  
            <img class='home-dashboard-image' src="<%= asset_path('menu_options/Domains')%>"/>
          </a>
          <br />
          <%= link_to "Domains",domains_path %>
        </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' >
        <div class='card-body'>
          <a class='api-documentation' href='/api/dashboard'>  
            <img class='home-dashboard-image' src="<%= asset_path('menu_options/API-Documentation')%>"/>
          </a>
          <br />
          <%= link_to "API Documentation", api_dashboard_path %>
        </div>
      </div>
    </div>
    
  </div>
  
  <!-- <% if @user %>
  <%= link_to image_tag("menu_options/Login.png", class: 'login-button-home'), logout_path, method: 'delete', :controller=> "sessions", :action=> "destroy" %>
  <% else %>
  <%= link_to image_tag("menu_options/Login.png", class: 'login-button-home'), login_path %>
  <% end %> -->
</div>

