<div class='container'>
  
  <div class ='row'>
    
    <div class='center-block'>
      <div class='card text-center' style="height: 17rem;">
        <a href='/mythologies'>  
          <img class='home-dashboard-image' src="<%= asset_path('Mythologies.jpeg')%>"/>
        </a>
          <div class='card-body'>
            <%= link_to "Mythologies", mythologies_path %>
          </div>
      </div>
    
      <div class='card text-center' style="height: 17rem;">
        <a href='/myths'>  
          <img class='home-dashboard-image' src="<%= asset_path('Myths.jpeg')%>"/>
        </a>
          <div class='card-body'>
            <%= link_to "Myths", events_path %>
          </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' style="height: 17rem;">
        <a href='/myths'>  
          <img class='home-dashboard-image' src="<%= asset_path('Myths.jpeg')%>"/>
        </a>
          <div class='card-body'>
            <%= link_to "Myths", events_path %>
          </div>
      </div>
    </div>
    
    <div class='center-block'>
      <div class='card text-center' style="height: 17rem;">
        <a href='/myths'>  
          <img class='home-dashboard-image' src="<%= asset_path('Myths.jpeg')%>"/>
        </a>
          <div class='card-body'>
            <%= link_to "Myths", events_path %>
          </div>
      </div>
    </div>
    
  </div>
  
  <!-- <% if @user %>
  <%= link_to image_tag("Login.png", class: 'login-button-home'), logout_path, method: 'delete', :controller=> "sessions", :action=> "destroy" %>
  <% else %>
  <%= link_to image_tag("Login.png", class: 'login-button-home'), login_path %>
  <% end %> -->
</div>

