<div class='text-center'>  
  <div class='deities-pointer'>
    <p><%= link_to "Deities", deities_path %></p>
  </div>
  <div class='mythologies-pointer'>
    <p><%= link_to "Mythologies", mythologies_path %></p>
  </div>
  <div class='myths-pointer'>
    <p><%= link_to "Myths", events_path %></p>
  </div>
  <div class='user-logging-pointer'>
  <% if @user %>
      <p><%= link_to "Logout", logout_path, method: 'delete', :controller=> "sessions", :action=> "destroy" %></p>
  <% else %>
      <p><%= link_to "Login", login_path %></p>
  <% end %>
  </div>
  <div class='api-docs-pointer'>
    <p><%= link_to "API Documentation", api_dashboard_path %></p>
  </div>
</div>
