<div class='row'>
  <h2> All the Gods: </h2>
  <ul>
  <% @deities.each do |deity| %>
  <ui><h5><%= deity.name %></h5></ui>
  <ui>Tier: <%= deity.tier %> Gender: <%= deity.gender %></ui> <br />
  <ui><%= deity.description %></ui> <br />
  <ui><%= deity.classification %></ui> <br />
  <ui><%= deity.mythology.name %></ui> <br />
  <div>  
    <ui><%= image_tag "#{deity.name}.jpeg", height: 200 %></ui>
  </div>
  
  <% end %>
  </ul>
</div>