<head>
	<meta charset="utf-8">
	<title><%= @deity.name %></title>
</head>
<body>
	<div class = "container text-center">
	<h4 class='btn btn-default'>Back to: <%= link_to " All Deities", deities_path %></h4>
		<div class="row text-center">
			<div class='col-6'>
				<%= image_tag "#{@deity.name}.jpeg", height: 400  %>
				</div>
			<div class='col-6 card bg-info'>
				<div class='card-body '>
				<h2><strong><%= @deity.name %></strong></h2> <br />
				<p><%= @deity.description %></p> <br />
				<p>Gender: <%= @deity.gender %> </p><br />
				<p>Power-level: <%= @deity.tier %> </p><br />
        <% @deity.parents.each do |parent| %>
          <% if parent.male? %>
          <p>Father: <%= parent.name %></p>
          <% elsif parent.female? %>
          <p>Mother: <%= parent.name %></p>
          <% else %>
          <p>Creator: <%= parent.name %></p>
          <% end %>
        <% end %>
				</div>
			</div>
		</div>
	</div>

</body>
