<head>
	<meta charset="utf-8">
	<title><%= @deity.name %></title>
</head>
<body>
	<div class = "container text-center">
		<div class="row text-center margin-top">
			<div class='col-6'>
				<%= image_tag @deity.image, height: 400  %>
        <div class='card bg-success top-margin-expand'>
          <p> Related Reading <%= "#{@deity.name}" %>  --></p>
        </div>
			</div>
			<div class='col-6 card bg-info'>
				<div class='card-body '>
  				<h2><strong><%= @deity.name %></strong></h2>
  				<p><%= @deity.description %></p>
  				<p>Gender: <%= @deity.gender %> </p>
  				<p>Power-level: <%= @deity.tier %> </p>
          <p>Domains: <% @deity.domains.each do |domain| %> 
            <br />
            <%= link_to domain.name, domain_path(domain)  %>
          <% end %>
          </p>
          <% @deity.parents.each do |parent| %>
            <% if parent.male? %>
            <p>Father: <%= link_to parent.name, deity_path(parent) %></p>
            <% elsif parent.female? %>
            <p>Mother: <%= link_to parent.name, deity_path(parent) %></p>
            <% else %>
            <p>Creator: <%= link_to parent.name, deity_path(parent) %></p>
            <% end %>
          <% end %>
          <% unless @deity.children.empty? %>
          <p class='deity-show-titles'>Children:</p>
              <% @deity.children.each do |child| %>
                <span class='spread-out'> <%= link_to child.name, deity_path(child) %></span>
              <% end %> 
          <% end %>
          <% if @deity.siblings %>
            <% if @deity.siblings.any? {|sibling| sibling.male? } %>
              <p class='deity-show-titles'>Brothers:</p>
              <% @deity.siblings.each do |sibling| %>
                <% if sibling.male? %>
                  <span class='spread-out'><%= link_to sibling.name, deity_path(sibling) %></span>
                <% end %>
              <% end %>
            <% end %>
            <% if @deity.siblings.any? {|sibling| sibling.female? } %>
              <p class='deity-show-titles'>Sisters:</p>
              <% @deity.siblings.each do |sibling| %>
                <% if sibling.female? %>
                  <span class='spread-out'><%= link_to sibling.name, deity_path(sibling) %></span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
				</div>
			</div>
      <div class='row width-fill-page'>
		    <div class='card-body'>
          <table class ="table">
            <thead>
              <tr>
                <th></th>
                <th>Book</th>
                <th>Authors</th>
                <th>Publisher</th>
              </tr>
            </thead>
            <tbody>
              <% unless @deity.find_books_with_subject.nil? %>
                <% @deity.find_books_with_subject.each do |book| %>
                  <% if book.image %>
                    <td class='book-image'><%= image_tag book.image %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td class='book-title'><%= link_to book.title, book.store_link %></td>
                  <% if book.authors %>
                    <td class='book-author'><% book.authors.each do |author| %>
                       <%= author %> <br />
                     <% end %> </td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if book.publisher %>
                  <td class='book-publisher'><%= book.publisher %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  </tr>
                <% end %>
              <% else %>
                  <td>This Mythology has no Books associated with its name</td>
              <% end %>
            </tbody>
          </table>
        </div>
			</div>
		</div>
	</div>

</body>
