<head>
	<meta charset="utf-8">
	<title><%= @deity.name %></title>
</head>
<body>
	<div class = "container text-center">
	<h4 class='btn btn-default'>Back to: <%= link_to " All Deities", deities_path %></h4>
		<div class="row text-center">
			<div class='col-6'>
				<%= image_tag "#{@deity.name}.jpeg", height: 400  %>
        <div class='card bg-success top-margin-expand'>
          <p>Books with <%= "#{@deity.name}" %> in the title --></p>
        </div>
			</div>
			<div class='col-6 card bg-info'>
				<div class='card-body '>
				<h2><strong><%= @deity.name %></strong></h2>
				<p><%= @deity.description %></p>
				<p>Gender: <%= @deity.gender %> </p>
				<p>Power-level: <%= @deity.tier %> </p>
        <% @deity.parents.each do |parent| %>
          <% if parent.male? %>
          <p>Father: <%= link_to parent.name, deity_path(parent) %></p>
          <% elsif parent.female? %>
          <p>Mother: <%= link_to parent.name, deity_path(parent) %></p>
          <% else %>
          <p>Creator: <%= link_to parent.name, deity_path(parent) %></p>
          <% end %>
        <% end %>
        <p>Children:</p>
        <% @deity.children.each do |child| %>
          <p> <%= link_to child.name, deity_path(child) %></p>
        <% end %> 
				</div>
			</div>
      <div class='row width-fill-page'>
		    <div class='card-body'>
          <table class ="table">
            <thead>
              <tr>
                <th></th>
                <th>Book</th>
                <th>Authors</th>
                <th>Publisher</th>
              </tr>
            </thead>
            <tbody>
              <% unless @deity.find_books_with_subject.nil? %>
                <% @deity.find_books_with_subject.each do |book| %>
                  <% if book.image %>
                    <td class='book-image'><%= image_tag book.image %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  <td class='book-title'><%= link_to book.title, book.store_link %></td>
                  <% if book.authors %>
                    <td class='book-author'><% book.authors.each do |author| %>
                       <%= author %> <br />
                     <% end %> </td>
                  <% else %>
                      <td></td>
                  <% end %>
                  <% if book.publisher %>
                  <td class='book-publisher'><%= book.publisher %></td>
                  <% else %>
                    <td></td>
                  <% end %>
                  </tr>
                <% end %>
              <% else %>
                  <td>This Mythology has no Books associated with its name</td>
              <% end %>
            </tbody>
          </table>
        </div>
			</div>
		</div>
	</div>

</body>
