<!DOCTYPE html>
<html>
  <head>
    <title>GodsAndLegends</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, raw(msg), class: name %>
    <% end %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
